#dropdown-basic-button{
    background-color: transparent;
    color: #d07f69;
    border: 2px solid #d07f69;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #e6d1cf !important;
}