.card {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
/* .card:hover .card_overlay {
  opacity: 1;
  transition: opacity 1s ease-out;
} */
.card_overlay {
  /* opacity: 0; */
  border-top: 1px solid #62757b;
  border-radius: 0.25rem;
}
.card_overlay:hover{
  border-top:4px solid #62757b;
  transition: border-top 0.15s ease-in-out;
}
.delete_icon,
.edit_icon {
  cursor: pointer;
  background-color: #62757b;
  text-align: center;
}
.delete_icon:hover,
.edit_icon:hover {
  background-color: #a5aaab;
}
.delete_icon,
.edit_icon svg {
  color: #fff;
}
.edit_icon {
  border-right: 1px solid #fff;
}
.blockquote-footer{
  color: #d07f69 !important;
}
